:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    background-color: #e8e8e8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    color: black;
    font-size: 40px;
    margin: 0;
}

h3 {
    margin-top: 0;
}

.card {
    background-color: white;
    padding: 20px;
    width: max-content;
    border-radius: 15px;
}

.Form h4 {
    margin-top: 0;
}

.submit {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: goldenrod;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}
